<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>17/07/16 22:00:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckDeleteIssue.before()[pri:0, instance:testcase.CheckDeleteIssue@28d25987]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/16 22:00:24</td>   <td>6633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckDeleteIssue.DeleteIssue()[pri:0, instance:testcase.CheckDeleteIssue@28d25987]">DeleteIssue</td> 
  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/16 22:01:01</td>   <td>43800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckDeleteIssue.tearDown()[pri:0, instance:testcase.CheckDeleteIssue@28d25987]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
</table>
