<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CrossBrowser/MultiBrowser</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>17/07/08 12:54:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseLevel2.CheckWaitTime()[pri:0, instance:testcase.TestCaseLevel2@46d56d67]">CheckWaitTime</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/08 12:53:46</td>   <td>-72051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckDeleteIssue.DeleteIssue()[pri:0, instance:testcase.CheckDeleteIssue@14acaea5]">DeleteIssue</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/08 12:53:25</td>   <td>-93646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckFooterLogoSize.VerifyLogo()[pri:0, instance:testcase.CheckFooterLogoSize@224edc67]">VerifyLogo</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/08 12:53:21</td>   <td>-97801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckFooterLogoSize.before(java.lang.String)[pri:0, instance:testcase.CheckFooterLogoSize@224edc67]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/08 12:53:43</td>   <td>-75244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckDeleteIssue.before(java.lang.String)[pri:0, instance:testcase.CheckDeleteIssue@14acaea5]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/08 12:54:55</td>   <td>-3160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseLevel2.before(java.lang.String)[pri:0, instance:testcase.TestCaseLevel2@46d56d67]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/08 12:53:42</td>   <td>-76349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckFooterLogoSize.tearDown()[pri:0, instance:testcase.CheckFooterLogoSize@224edc67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/08 12:54:49</td>   <td>-9700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckDeleteIssue.tearDown()[pri:0, instance:testcase.CheckDeleteIssue@14acaea5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/08 12:55:43</td>   <td>44095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseLevel2.tearDown()[pri:0, instance:testcase.TestCaseLevel2@46d56d67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
</table>
