<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>17/07/11 21:40:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetPermalink.before()[pri:0, instance:testcase.GetPermalink@3e6fa38a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/11 21:40:34</td>   <td>18369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetPermalink.VerifyLogo()[pri:0, instance:testcase.GetPermalink@3e6fa38a]">VerifyLogo</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/11 21:40:35</td>   <td>18484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GetPermalink.tearDown()[pri:0, instance:testcase.GetPermalink@3e6fa38a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/07/11 21:40:41</td>   <td>25123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckFooterLogoSize.before()[pri:0, instance:testcase.CheckFooterLogoSize@685cb137]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/07/11 21:40:47</td>   <td>31026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckFooterLogoSize.VerifyLogo()[pri:0, instance:testcase.CheckFooterLogoSize@685cb137]">VerifyLogo</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/07/11 21:41:01</td>   <td>45289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckFooterLogoSize.tearDown()[pri:0, instance:testcase.CheckFooterLogoSize@685cb137]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/11 21:41:02</td>   <td>45680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckDeleteIssue.before()[pri:0, instance:testcase.CheckDeleteIssue@66a3ffec]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/11 21:41:08</td>   <td>51662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckDeleteIssue.DeleteIssue()[pri:0, instance:testcase.CheckDeleteIssue@66a3ffec]">DeleteIssue</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/11 21:42:13</td>   <td>116816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckDeleteIssue.tearDown()[pri:0, instance:testcase.CheckDeleteIssue@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>17/07/11 21:42:19</td>   <td>122870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangeStatusToClose.before()[pri:0, instance:testcase.ChangeStatusToClose@6a41eaa2]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>17/07/11 21:42:33</td>   <td>137102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeStatusToClose.ChangeStatus()[pri:0, instance:testcase.ChangeStatusToClose@6a41eaa2]">ChangeStatus</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>17/07/11 21:43:41</td>   <td>205059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChangeStatusToClose.tearDown()[pri:0, instance:testcase.ChangeStatusToClose@6a41eaa2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/11 21:43:47</td>   <td>210897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckRepportIssue.before()[pri:0, instance:testcase.CheckRepportIssue@77caeb3e]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/11 21:44:02</td>   <td>225856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckRepportIssue.VerifyLogo()[pri:0, instance:testcase.CheckRepportIssue@77caeb3e]">VerifyLogo</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/11 21:44:45</td>   <td>268871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckRepportIssue.tearDown()[pri:0, instance:testcase.CheckRepportIssue@77caeb3e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/11 21:44:51</td>   <td>274987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateTheIssuePriority.before()[pri:0, instance:testcase.UpdateTheIssuePriority@1e88b3c]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/11 21:45:08</td>   <td>292368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateTheIssuePriority.IssuePriority()[pri:0, instance:testcase.UpdateTheIssuePriority@1e88b3c]">IssuePriority</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/11 21:46:27</td>   <td>371324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateTheIssuePriority.aftertest()[pri:0, instance:testcase.UpdateTheIssuePriority@1e88b3c]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/11 21:46:34</td>   <td>377568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangeStatusToResolve.before()[pri:0, instance:testcase.ChangeStatusToResolve@42d80b78]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/11 21:46:48</td>   <td>391941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeStatusToResolve.VerifyLogo()[pri:0, instance:testcase.ChangeStatusToResolve@42d80b78]">VerifyLogo</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/11 21:47:32</td>   <td>435563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChangeStatusToResolve.tearDown()[pri:0, instance:testcase.ChangeStatusToResolve@42d80b78]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/11 21:47:38</td>   <td>441899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckLostPassword.before()[pri:0, instance:testcase.CheckLostPassword@3bfdc050]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/11 21:47:44</td>   <td>448283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckLostPassword.VerifyLogo()[pri:0, instance:testcase.CheckLostPassword@3bfdc050]">VerifyLogo</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/11 21:47:51</td>   <td>455219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckLostPassword.tearDown()[pri:0, instance:testcase.CheckLostPassword@3bfdc050]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/11 21:47:52</td>   <td>455618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchForTheIssue.before()[pri:0, instance:testcase.SearchForTheIssue@5c3bd550]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/11 21:47:58</td>   <td>461549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchForTheIssue.VerifyLogo()[pri:0, instance:testcase.SearchForTheIssue@5c3bd550]">VerifyLogo</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/11 21:48:17</td>   <td>481080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchForTheIssue.tearDown()[pri:0, instance:testcase.SearchForTheIssue@5c3bd550]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>17/07/11 21:48:17</td>   <td>481462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseLevel2.before()[pri:0, instance:testcase.TestCaseLevel2@91161c7]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>17/07/11 21:48:17</td>   <td>481462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseLevel2.CheckWaitTime()[pri:0, instance:testcase.TestCaseLevel2@91161c7]">CheckWaitTime</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>17/07/11 21:48:17</td>   <td>481464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseLevel2.tearDown()[pri:0, instance:testcase.TestCaseLevel2@91161c7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/07/11 21:48:17</td>   <td>481464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyFormElement.before()[pri:0, instance:testcase.VerifyFormElement@604ed9f0]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/07/11 21:48:36</td>   <td>500440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyFormElement.VerifyTitle()[pri:0, instance:testcase.VerifyFormElement@604ed9f0]">VerifyTitle</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/07/11 21:48:37</td>   <td>500883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VerifyFormElement.tearDown()[pri:0, instance:testcase.VerifyFormElement@604ed9f0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:48:43</td>   <td>507092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckStatusColor.before()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:48:57</td>   <td>521117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckStatusColor.CheckNewColor()[pri:1, instance:testcase.CheckStatusColor@1bce4f0a]">CheckNewColor</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:48:57</td>   <td>521147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckStatusColor.tearDown()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/07/11 21:48:58</td>   <td>521671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckSignupNewAccount.before()[pri:0, instance:testcase.CheckSignupNewAccount@6a4f787b]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/07/11 21:49:04</td>   <td>527631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckSignupNewAccount.AccessLevelreporter()[pri:1, instance:testcase.CheckSignupNewAccount@6a4f787b]">AccessLevelreporter</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/07/11 21:49:10</td>   <td>533697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckSignupNewAccount.tearDown()[pri:0, instance:testcase.CheckSignupNewAccount@6a4f787b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/11 21:49:10</td>   <td>534082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckAccessLevel.before()[pri:0, instance:testcase.CheckAccessLevel@5e3a8624]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/11 21:49:29</td>   <td>553108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckAccessLevel.AccessLevelreporter()[pri:1, instance:testcase.CheckAccessLevel@5e3a8624]">AccessLevelreporter</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/11 21:49:29</td>   <td>553207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckAccessLevel.tearDown()[pri:0, instance:testcase.CheckAccessLevel@5e3a8624]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:49:36</td>   <td>559667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckStatusColor.before()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:49:57</td>   <td>580970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckStatusColor.CheckFeedbackColor()[pri:2, instance:testcase.CheckStatusColor@1bce4f0a]">CheckFeedbackColor</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:49:57</td>   <td>581001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckStatusColor.tearDown()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/11 21:49:59</td>   <td>583233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckAccessLevel.before()[pri:0, instance:testcase.CheckAccessLevel@5e3a8624]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/11 21:50:22</td>   <td>605994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckAccessLevel.ProjectAccesslevel()[pri:2, instance:testcase.CheckAccessLevel@5e3a8624]">ProjectAccesslevel</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/11 21:50:22</td>   <td>606045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckAccessLevel.tearDown()[pri:0, instance:testcase.CheckAccessLevel@5e3a8624]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:50:28</td>   <td>612332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckStatusColor.before()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:50:45</td>   <td>629056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckStatusColor.CheckacKnowLedged()[pri:3, instance:testcase.CheckStatusColor@1bce4f0a]">CheckacKnowLedged</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:50:45</td>   <td>629095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckStatusColor.tearDown()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:50:46</td>   <td>629581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckStatusColor.before()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:09</td>   <td>653301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckStatusColor.CheckConfirmed()[pri:4, instance:testcase.CheckStatusColor@1bce4f0a]">CheckConfirmed</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:09</td>   <td>653332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckStatusColor.tearDown()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:10</td>   <td>653926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckStatusColor.before()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:27</td>   <td>670773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckStatusColor.CheckAssigned()[pri:5, instance:testcase.CheckStatusColor@1bce4f0a]">CheckAssigned</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:27</td>   <td>670827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckStatusColor.tearDown()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:28</td>   <td>672111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckStatusColor.before()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:43</td>   <td>686879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckStatusColor.CheckResolved()[pri:6, instance:testcase.CheckStatusColor@1bce4f0a]">CheckResolved</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:43</td>   <td>686927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckStatusColor.tearDown()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:51:44</td>   <td>687603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckStatusColor.before()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:52:05</td>   <td>709472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckStatusColor.CheckClosed()[pri:7, instance:testcase.CheckStatusColor@1bce4f0a]">CheckClosed</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/11 21:52:06</td>   <td>709501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckStatusColor.tearDown()[pri:0, instance:testcase.CheckStatusColor@1bce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
</table>
